body{
	padding:10px;
}
.hidden{
	display: none;
}
.profile-image{
	width:100px;
	height:100px;
}
input[type="file"] {
    float: left;
}
.image{
	height: 200px;
}
.image > * {
    padding: 10px;
    float: left;
}
.cursor{
	cursor: pointer;
}

.header{
	font-size: 18px;
	color:#555;
	padding: 10px;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	margin:5px 0;
}


.submitted{
	background: #84d284;
	color: white;
}