<!DOCTYPE html>
html(lang="en", ng-app="app")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Diamond Lovers
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.min.css")
body(ng-controller="main as main")
    include nav
    div(ng-view)

script(src="angular/angular.js")
script(src="angular-route/angular-route.min.js")
script(src="js/main.js")
script(src="js/routes.js")
script(src="js/home.js")
script(src="js/users.js")
script(src="js/http.js")
    