<!DOCTYPE html>
html(lang="en", ng-app="app")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Diamond Lovers
    link(rel="stylesheet", href="css/main.css")
body(ng-controller="main as main")
    h1 Welcome!
    form.login
        h3 Login
        input(type="text", name="email", placeholder="Email", value="natethepcspecialist@gmail.com")
        input(type="text", name="password", placeholder="password", value="nate123")
        input(type="submit", value="Login", ng-click="main.login()")
    button.delete-all-images(ng-cloak, ng-show="main.isLoggedIn", ng-click="main.deleteAllImages()") Delete All Images
    div(ng-cloak, ng-show="main.isLoggedIn")
        each dir in dirs
            //- img(src=dir.replace('server/images', ''))
            div=dir
    form(ng-cloak, ng-show="main.isLoggedIn").register
        h3 Register
        input(type="text", name="firstName", placeholder="First Name", value="Nathan")
        input(type="text", name="lastName", placeholder="Last Name", value="Quinn")
        input(type="text", name="email", placeholder="email", value="natethepcspecialist@gmail.com")
        input(type="text", name="displayName", placeholder="display name", value="nquinn721")
        input(type="text", name="password", placeholder="password", value="nate123")
        input(type="submit", value="Submit" ng-click="main.register()")
    form(ng-cloak, ng-show="main.isLoggedIn").upload
        input(type="file", name="image")
        input(type="submit", value="Upload", ng-click="main.uploadImage(this)")
    .images
        div(ng-repeat="img in main.user.profile.images")
            img.profile-image(ng-src="{{img.location + '/' + img.name}}")
            div
                button(ng-click="main.deleteImage(img)") Delete
            div(ng-show="main.user.profile.defaultImage._id === img._id") Default
            div(ng-show="main.user.profile.defaultImage._id !== img._id") 
                input(value="Make Default", type="button", ng-click="main.makeImageDefault(img)")

script(src="angular/angular.js")
script(src="js/main.js")
    