<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Diamond Lovers
body
    h1 Welcome!
    form.login
        h3 Login
        input(type="text", name="email", placeholder="Email", value="jon@snow.com")
        input(type="text", name="password", placeholder="password", value="jonsnow123")
        input(type="submit", value="Login")
    form.register
        h3 Register
        //- input(type="file", name="profile")
        input(type="text", name="firstName", placeholder="First Name")
        input(type="text", name="lastName", placeholder="Last Name")
        input(type="text", name="email", placeholder="email")
        input(type="text", name="displayName", placeholder="display name")
        input(type="text", name="password", placeholder="password")
        input(type="submit", value="Submit")

script.
    document.querySelector('.login').onsubmit = function(e){
        console.log('login');
        e.preventDefault();
        //- console.log('logged in');
        fetch('/db/login', {
            method: 'post',
            body: new FormData(this),
            headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            },
            credentials: "same-origin"
        }).then((d) => d.json()).then((msg) => {
            console.log(msg);
            fetch('/app/user', {credentials: 'same-origin'}).then(d => d.json()).then(d => console.log(d));
        });
        //- return false;


        //- var oReq = new XMLHttpRequest();
        //- oReq.open("post", '/db/login');
        //- oReq.send();
    }
    document.querySelector('.register').onsubmit = function(){
        fetch('/db/register', {
            method: 'post',
            body: new FormData(this)
        });

        console.log(this);
        return false;
    }