<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Diamond Lovers
body
    h1 Welcome!
    a(href="/app/delete-all-images") Delete All Images
    each dir in dirs
        div #{dir}
    form.login
        h3 Login
        input(type="text", name="email", placeholder="Email", value="jon@snow.com")
        input(type="text", name="password", placeholder="password", value="jonsnow123")
        input(type="submit", value="Login")
    form.register
        h3 Register
        input(type="text", name="firstName", placeholder="First Name")
        input(type="text", name="lastName", placeholder="Last Name")
        input(type="text", name="email", placeholder="email")
        input(type="text", name="displayName", placeholder="display name")
        input(type="text", name="password", placeholder="password")
        input(type="submit", value="Submit")
    form.upload
        input(type="file", name="image")
        input(type="submit", value="Upload")
    
script.
    document.querySelector('.login').onsubmit = function(e){
        console.log('login');
        e.preventDefault();
        post('/db/login', this).then((msg) => {
            //- fetch('/app/user', {credentials: 'same-origin'}).then(d => d.json()).then(d => console.log(d));
        });

    }
    document.querySelector('.register').onsubmit = function(){
        post('/db/register', this).then(d => console.log('register', d));

        return false;
    }
    document.querySelector('.upload').onsubmit = function(){
        post('/app/profile-image-upload', this).then(d => console.log('uplaod', d));
        //- post('/app/user', this).then(d => console.log(d));
        return false;
    }

    function post(url, data){
        return fetch(url, {
            method: 'post',
            body: new FormData(data),
            credentials: "same-origin"
        }).then((d) => d.json());
    }