h1 Users
.users
	select.form-control(ng-model="users.currentUserEmail", ng-change="users.updateCurrentUser()")
		option(ng-repeat="user in users.users track by $index", value="{{user.email}}") {{user.email}}
	pre(ng-if="users.currentUser") {{users.currentUser | json}} 
form.user-update(ng-submit="users.updateUser()")
	span Status
	select.form-control(ng-model="users.currentUser.profile.status")
		option(ng-repeat="status in users.userStatus", value="{{status}}") {{status}}
	span DisplayName
	input.form-control(ng-model="users.currentUser.profile.displayName")
	span City
	input.form-control(ng-model="users.currentUser.profile.city")
	span State
	input.form-control(ng-model="users.currentUser.profile.state")
	span Zip
	input.form-control(ng-model="users.currentUser.profile.zip")
	span About
	input.form-control(ng-model="users.currentUser.profile.about")
	span Income
	input.form-control(ng-model="users.currentUser.profile.income")
	span Age
	input.form-control(ng-model="users.currentUser.profile.age")
	span BodyType
	input.form-control(ng-model="users.currentUser.profile.bodyType")
	span Sex
	input.form-control(ng-model="users.currentUser.profile.sex")
	span Children
	input.form-control(ng-model="users.currentUser.profile.children")
	span Education
	input.form-control(ng-model="users.currentUser.profile.education")
	span Height
	input.form-control(ng-model="users.currentUser.profile.height")
	span Drugs
	input.form-control(ng-model="users.currentUser.profile.drugs")
	span Drinks
	input.form-control(ng-model="users.currentUser.profile.drinks")
	span Smokes
	input.form-control(ng-model="users.currentUser.profile.smokes")
	span Location
	input.form-control(ng-model="users.currentUser.profile.location")
	span LookingFor
	input.form-control(ng-model="users.currentUser.profile.lookingFor")
	span Cost
	span Date1
	input.form-control(ng-model="users.currentUser.profile['cost.date1']")
	span Date2
	input.form-control(ng-model="users.currentUser.profile['cost.date2']")
	span Date3
	input.form-control(ng-model="users.currentUser.profile['cost.date3']")

	.cursor.header(ng-click="users.preferencesTab = !users.preferencesTab")
		| Preferences &nbsp;
		i.fa.fa-caret-down(ng-show="!users.preferencesTab")
		i.fa.fa-caret-up(ng-show="users.preferencesTab")
	.preferences(ng-show="users.preferencesTab")
		span ethnicity
		input.form-control(ng-model="users.currentUser.profile['preferences.ethnicity']")
		span distance
		input.form-control(ng-model="users.currentUser.profile['preferences.distance']")
		span sex
		input.form-control(ng-model="users.currentUser.profile['preferences.sex']")
		span children
		input.form-control(ng-model="users.currentUser.profile['preferences.children']")
		span education
		input.form-control(ng-model="users.currentUser.profile['preferences.education']")
		span smokes
		input.form-control(ng-model="users.currentUser.profile['preferences.smokes']")
		span drugs
		input.form-control(ng-model="users.currentUser.profile['preferences.drugs']")
		span drinks
		input.form-control(ng-model="users.currentUser.profile['preferences.drinks']")
		span bodyType
		input.form-control(ng-model="users.currentUser.profile['preferences.bodyType']")
		span height
		input.form-control(ng-model="users.currentUser.profile['preferences.height']")
		span income
		input.form-control(ng-model="users.currentUser.profile['preferences.income']")
	br
	input(type='submit', value='Submit')
.images.jumbotron
	form(ng-cloak, enctype="multipart/form-data").upload
		input(type="file", name="image")
		input.btn-primary.btn(type="submit", value="Upload", ng-click="users.uploadIamge()")
	div.image(ng-repeat="img in users.currentUser.images")
		div 
			img.profile-image(ng-src="{{img.url}}")
		div
			button.btn.btn-primary(ng-click="users.deleteImage(img)") Delete
			span(ng-show="users.currentUser.profile.defaultImage._id === img._id") Default
			span(ng-show="users.currentUser.profile.defaultImage._id !== img._id") 
				input.btn.btn-primary(value="Make Default", type="button.btn.btn-primary", ng-click="users.makeImageDefault(img)")